body	{
	font-family: Georgia, serif;
	overflow: none;
	margin: 5px auto;
	width:1920px;
	overflow:hidden;
	background-color:white;
}
#content	{
	height: 850px;
	max-height:1080px;
	overflow:hidden;
	width: 1920px;
	display: table;
}
#events	{
	color:white;
	background-color:#002855;
	height: 68px;
}
#eventHeaderText	{
	width: inherit;
	max-width: 1920px;
	position: relative;
	top: 9px;
	text-align: center;
	font-size: 150%;
}
#title	{
	font-size:300%;
	text-align: center;
	font-weight:bold;
}
#other	{
	font-size:250%;
	text-align: center;
}
#footer	{
	background-color:#002855;
	height: 68px;
}
.event	{
	text-align: center;
    font-size: 300%;
    display: table-cell;
    vertical-align: middle;
}

.noevent	{
	text-align: center;
    font-size: 300%;
    display: table-cell;
    vertical-align: middle;
}